<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>

  <% sort_column = cookies[:sort_column] || 'title' %>
  <% sort_direction = cookies[:sort_direction] || 'asc' %>

  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to Movies", movies_path(:sort => sort_column, :direction => sort_direction) %>

</div>

<div class="img-with-text" align="center">
  <img src="https://i.ibb.co/VmWmM3s/cat1.jpg" alt="cat 3"/>
</div>
